# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\vnv_covid19\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
